html {
  font-family: "Lato", sans-serif;
  background-color: #2E343E;
}

.white {
  background-color: #fff;
  height: 100vh;
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #60D3BC;
}

a:hover {
  color: #9BE8AD;
}
